*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
}

ul, li, a{
    list-style: none;
    text-decoration: none;
}

button{
    background-color: blue;
    border: 0;
    color: white;
    font-size: 20px;
}

.col-12{
    width: 100%
}

.col-4{
    width: calc((100% / 12)*4);
}

.col-8{
    width: calc((100% / 12)*8);
}

/*********************************
HEADER
*********************************/

.header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 25px 20px;
}

.header .col{
    display: flex;
    align-items: center;
}

.header a{
    color: black;
    padding: 0 15px;
    line-height: 35px;
}

.logo{
    display: flex;
    align-items: center;
}

button.start a{
    color: white;
}


/********************************
MAIN
*********************************/

/*******************
SECTION HEADER
********************/
.main section.blue{
    background-color: rgb(131, 187, 255);
    padding: 40px 0;
}

.container-header{
    max-width: 1250px;
    margin: 0 auto;
}

.row-header{
    display: flex;
    font-size: 20px;
}

.row-header:first-child{
    padding: 50px 0;
}

.col-12 h1{
    font-size: 90px;
}

.col-4 button.button{
    padding: 0 15px;
    line-height: 40px;
}

.container-header .icon{
    font-size: 40px;
    padding: 20px 0;
}

.row-header .col-4 > *{
    padding: 25px 0;
}

.row-header .col-4{
    margin: -25px 0;
}

.col-8 img{
    position: relative;
    z-index: 2;
}

.white{
    position: relative;
    height: 100px;
    bottom: 100px;
    background-color: white;
}
